# Folders
.archive
.github/instructions/
.website/
vscode/
testing/
tools/
scripts/
**/tests
**/.version

# Files
PowerShellScripting.code-workspace
.DS_Store
*.bak
analysis.json
*-report.txt
*-output.json